/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
} */
*{
    margin: 0;
    padding: 0;
}
header{
    background:#01616b ;
    height: 65px;
    width: 100%;
    display: inline-block;

    
}
 .header2  {
    
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;


}
.header2:hover{
    color: #098c94;
    
}

aside{
    background-color: #ffd0ad;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    /* width: 100%; */
    height: calc(110vh + 60px);
    
}

main{
    background:#fce4a0 ;
    width: 80%;
    height: 112vh;
    padding: 22px;
}
.main{
    display: flex;
    flex: 1;
}


.logo {
   display: inline-block;
   margin-left: 20px;
   margin-top: 20px;
    
}
.logo a{
    font-size: 20px;
    text-decoration: none;
    color: #07868e;
}
.logo i{
    margin-left: 7px;
    color: #07868e;
}
.navbar ul {
    float: right;
   

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    margin: 0 8px;
    line-height: 70px;
  
}

.navbar ul li a{
    color: #098c94;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    margin-right: 20px;
    /* padding: 6px 13px; */

}


.navabr ul li a .active,
.navbar ul li a:hover{
    background: #aefbfb;
    border-radius: 5px;
    transition: 0.7s;
    
}
.dep{
    margin-left: -30px;
    margin-top: 20px;
    font-size: 20px;
    /* margin-left: 15px; */
}
hr{
    border: 2px solid;
    margin-top:20px ;
    margin-left: 15px;
    width: 80%;
}
.li{
    display: flex;
    flex-direction: column;
    margin-left: -85px;
    margin-top: 8px;
    font-size: 18px;
    
}
.li span{
    display: inline-block;
    padding: 4px;
}
.li input{
    margin-left: 7px;
    
}
.br{
    margin-left: -65px;
    margin-top: 10px;
    /* margin-left: 15px; */
}
.br span{
    font-size: 20px;
}
.scli{
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    /* margin-left: 21px; */
    margin-top: 8px;
    font-size: 18px;
}
.scli span{
    display: inline-block;
    padding: 4px;
}
.scli input{
    margin-left: 7px;
    
}

.content{
   box-sizing: border-box;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-wrap: wrap;
   
}
.frsblock{
   width: 230px;
   height: 290px;
   background: #c9b16e;
   margin-top: 60px;
   margin-left: 20px;
}
.frsblock {
text-align: center;
font-size: 17px;

}
.content .words{
    flex-direction: column;
    align-items: center;
    
}

.frsblock button {
    /* background-color: #e24e2d;
    color: white;
    margin-top: 10px;
    margin-top: 59px;
    margin-right: 10px;
    float: right;
    border-style: none;
    font-weight: 700;
    height: 25px;
    width: 17vh; */
    background-color: #1342ff;
    border-radius: 5px;
    color: #e1e1e1;
    margin-top: 5%;
    margin-left: 35%;
    font-weight: 600;
    padding: 3% 5%;
    cursor: pointer;
    transition: all .1s;
    
    
    
    
}
.scblock button {
    /* background-color: #e24e2d;
    color: white;
    margin-top: 15px;
    margin-top: 40px;
    margin-right: 10px;
    float: right;
    border-style: none;
    font-weight: 700;
    height: 25px;
    width: 17vh; */
    background-color: #1342ff;
    border-radius: 5px;
    color: #e1e1e1;
    margin-top: 5%;
    margin-left: 35%;
    font-weight: 600;
    padding: 3% 5%;
    cursor: pointer;
    transition: all .1s;
    
    
}
.thblock button {
    /* background-color: #e24e2d;
    color: white;
    margin-right: 10px;
    float: right;
    margin-top: 35px;
    border-style: none;
    font-weight: 700;
    height: 25px;
    width: 17vh; */
    background-color: #1342ff;
    border-radius: 5px;
    color: #e1e1e1;
    margin-top: 5%;
    margin-left: 35%;
    font-weight: 600;
    padding: 3% 5%;
    cursor: pointer;
    transition: all .1s;
    
    
}

.forblock button {
    /* background-color: #e24e2d;
    color: white;
    margin-top: 40px;
    margin-right: 10px;
    float: right;
    margin-top: 15px;
    border-style: none;
    font-weight: 700;
    height: 25px;
    width: 17vh; */
    background-color: #1342ff;
    border-radius: 5px;
    color: #e1e1e1;
    margin-top: 5%;
    margin-left: 35%;
    font-weight: 600;
    padding: 3% 5%;
    cursor: pointer;
    transition: all .1s;
    
    
}
.fivblock button {
    /* background-color: #e24e2d;
    margin-top: 40px;
    margin-right: 10px;
    float: right;
    color: white;
    margin-top: 9px;
    border-style: none;
    font-weight: 700;
    height: 25px;
    width: 17vh; */
    background-color: #1342ff;
    border-radius: 5px;
    color: #e1e1e1;
    margin-top: 5%;
    margin-left: 35%;
    font-weight: 600;
    padding: 3% 5%;
    cursor: pointer;
    transition: all .1s;
    
    
}
.sixblock button{
    /* background-color: #e24e2d;
    float: right;
    color: white;
    margin-top: 40px;
    margin-right: 10px;
    border-style: none;
    font-weight: 700;
    height: 25px;
    width: 17vh; */
    background-color: #1342ff;
    border-radius: 5px;
    color: #e1e1e1;
    margin-top: 5%;
    margin-left: 35%;
    font-weight: 600;
    padding: 3% 5%;
    cursor: pointer;
    transition: all .1s;
}
.sevblock button{
    /* background-color: #e24e2d;
    color: white;
    margin-top: 40px;
    margin-right: 10px;
    float: right;
    margin-top: 15px;
    border-style: none;
    font-weight: 700;
    height: 25px;
    width: 17vh; */
    background-color: #1342ff;
    border-radius: 5px;
    color: #e1e1e1;
    margin-top: 5%;
    margin-left: 35%;
    font-weight: 600;
    padding: 3% 5%;
    cursor: pointer;
    transition: all .1s;
}
.eightblock button{
    /* background-color: #e24e2d;
    color: white;
    margin-top: 40px;
    margin-right: 10px;
    float: right;
    margin-top: 15px;
    border-style: none;
    font-weight: 700;
    height: 25px;
    width: 17vh; */
    background-color: #1342ff;
    border-radius: 5px;
    color: #e1e1e1;
    margin-top: 5%;
    margin-left: 35%;
    font-weight: 600;
    padding: 3% 5%;
    cursor: pointer;
    transition: all .1s;
   
}
.s button {
    background-color: #e24e2d;
    color: white;
    margin-top: 15px;
    border-style: none;
    font-weight: 700;
    height: 25px;
    width: 17vh;
    
    
}

.heading{
    text-align: left;
    margin-left: 20px;
    font-size: 17px;
    margin-top: 10px;
}

.scblock{
    width: 230px;
   height: 290px;
   background: #c9b16e;
   margin-top: 60px;
   margin-left: 20px;
   text-align: center;
   font-size: 17px;
   
}

.words{
    margin-top: 10px;
}
.thblock{
    width: 230px;
   height: 290px;
   background: #c9b16e;
   margin-top: 60px;
   margin-left: 20px;
   text-align: center;
   font-size: 17px;
   
}
.forblock{
    width: 230px;
    height: 290px;
    background: #c9b16e;
    margin-top: 60px;
    margin-left: 20px;
    text-align: center;
    font-size: 17px;

}

.fivblock{
    width: 230px;
    height: 290px;
    background: #c9b16e;
    margin-top: 60px;
    margin-left: 20px;
    text-align: center;
    font-size: 17px;
   
}

.sixblock{
    width: 230px;
   height: 290px;
   background: #c9b16e;
   margin-top: 60px;
   margin-left: 20px;
   text-align: center;

}
.sevblock{

    width: 230px;
   height: 290px;
   background: #c9b16e;
   margin-top: 60px;
   margin-left: 20px;
   text-align: center;
}
.eightblock{
    width: 230px;
   height: 290px;
   background: #c9b16e;
   margin-top: 60px;
   margin-left: 20px;
   text-align: center;
}

